.messages{
	margin-top: 15px;	
}

.messages span{
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;	
}

.messages div{
	margin-bottom: 10px;
}